<nav class="bg-amber-300 border-amber-500 border-b border-1 dark:bg-gray-900">
  <div class="max-w-screen-xl flex  items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 mr-4 rtl:space-x-reverse">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Doofer</span>
    </a>
    
    <input
      hx-post="/search/" 
      hx-trigger="keyup[key=='Enter']"
      id="search"
      type="search"
      class="block my-4 py-2 px-3 flex-1 text-gray-900 rounded hover:bg-gray-100  md:border-0  md:p-2 dark:text-white md:dark:hover:text-amber-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
      placeholder="Search..."
      />
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="flex-none items-center p-2 w-10 h-10  justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    
    <div class="hidden flex-none md:block md:w-auto ml-4" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-1 mt-4 border border-gray-100 rounded-lg bg-amber-400-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-amber-500 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        
        {% if not user.is_authenticated %}
        <li>
          <a
            href="#"
            hx-get="/login/"
            hx-target="#notes-list"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-amber-50 md:p-2 dark:text-white md:dark:hover:text-amber-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Login</a
          >
        </li>
        <li>
          <a
            href="#"
            hx-get="/register/"
            hx-target="#notes-list"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-amber-700 md:p-2 dark:text-white md:dark:hover:text-amber-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Register</a
          >
        </li>
        {% else %}
        
        <li>
          
          <a
            href="/profile/"
            class="block py-2 px-3  hover:bg-amber-600 "
            >
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
            </svg>
            </a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
