{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div id="notes-list" class="max-w-screen-xl mx-auto">
  {% if notes %}
  <div class="p-4 sm:p-8">
    <div class="columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-3 lg:columns-4 [&>img:not(:first-child)]:mt-8">
      {% for note in notes %}
      <div
        _="on click toggle .hidden on #note-modal"
        hx-get="/note/{{note.id}}/"
        hx-target="#note-details"
        class="min-w-20 pt-4 break-inside-avoid-column">
        <div class="bg-yellow-200 rounded-lg shadow-md">
          {% if note.get_yt_thumbnail_url %}
          <img class="w-full h-40 object-cover rounded-t-lg" src="{{ note.get_yt_thumbnail_url }}" alt="thumbnail" />
          {% endif %}
          <div class="p-4">
            <h5 class="text-lg font-bold">{{ note.title }}</h5>
            <p class="mt-2">{{ note.content }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="flex flex-row text-xl">
    <p class="text-center mx-auto">No notes found</p>
  </div>
  {% endif %}
</div>
<div id="fab" class="fixed bottom-3 right-3">
  <button
    type="button"
    class="text-white bg-amber-700 hover:bg-amber-800 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-amber-800">
    <svg
      class="w-6 h-6 text-white dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
    </svg>
    <span class="sr-only">Add note</span>
  </button>
</div>

<!-- Main modal -->
<div
  id="note-modal"
  datatabindex="-1"
  aria-hidden="true"
  class=" hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-800 bg-opacity-80" >
  <div class="relative p-4 w-full max-w-2xl max-h-full mx-auto mt-8">
    <!-- Modal content -->
    <div class="relative bg-amber-100 rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
    <div id="note-details">
    </div>
  
  </div>
</div>

{% endblock %}
